
body,
button,
input,
select,
textarea {
	color: #333;
	font-family: 'Roboto', helvetica, arial, sans-serif;
	font-size: 16px;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.66;
}
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/
.container{
	width: 1200px
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 9;
    width: 80%;
    padding-left: 0;
    text-align: left;
    list-style: none;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 5px;
    background: none;
    border-color: #fff;
    opacity: .7;
	border: 2px solid #fff;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 15x;
}
.fade-carousel .carousel-indicators > li.active {
  width: 15px;
  height: 15px;
  opacity: 1;
   background: #fff;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    color: #fff;
    text-align: left;
    //text-transform: uppercase;
    /*text-shadow: 1px 1px 0 rgba(0,0,0,.75);*/
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 80px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
	line-height: normal;
}

.hero h2 {
    font-size: 68px;    
    font-weight: 300;
    margin: 0;
    padding: 0;
	color: #fff;
	line-height: 70px;
}
.hero h3{
	color: #fff;
}
.border  {
position: relative;
    width: 50px;
    height: 3px;
    margin: 25px 5px;
    background: #f59e16;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #f26522;
    border-color: #f26522;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(assets/images/slide1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(assets/images/slide2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(assets/images/slide3.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero {  width: 80%; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

.hamburger{
    background: none;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 5px 23px;
    color: #fff;
    border: 0;
    font-size: 2em;
    /* line-height: 58px; */
    height: 77px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 99;
}
.cross{
    background: none;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 4px 25px;
    color: #fff;
    border: 0;
        font-size: 4em;
    line-height: 1.5em;
    height: 77px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 99;
}
button.cross:hover, button.hamburger:hover,button.hamburger:focus{
background: none;
}
.bigmenu{
	z-index:10; 
	//font-weight:400; 
	width:100%; 
	background:#f59e16;  
	position:fixed; 
	text-align:center; 
	font-size:18px; 
	top: 0px;
	padding: 40px 0;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
}
.bigmenu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.bigmenu li {display: block;   padding:20px 0; }
.bigmenu li:hover{display: block;     padding:20px 0 20px 0;}
.bigmenu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.bigmenu ul li a:hover {  color: #efefef; text-decoration:underline;}
.bigmenu a{text-decoration:none; color:#fff;}
.bigmenu a:hover{text-decoration:none; color:#fff;}
.mainmenu li {
	padding: 20px 0;
}
.mainmenu li a{
	text-transform: uppercase;
}
.mainmenu .sub-menu li a{
	text-transform: capitalize;
	font-weight: 300;
	   
}
.mainmenu .sub-menu li {
 padding: 3px 0;
}
.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
.icep-navbar{
    top: 0;
    //display: none;
    left: 0;
    padding:21px 40px;
    position: fixed;
    width: 100%;
    height: 77px;
    background: rgba(255, 255, 255, 0);
	z-index: 9;
}
.icep-page-navbar{
    top: 0;
    left: 0;
    padding:21px 40px;
    position: absolute;
    width: 100%;
    height: 77px;
    background: rgba(255, 255, 255, 0);
	z-index: 9;
}
.icep-navbar.active{

    display: block;
	background: rgba(255, 255, 255, 0.10);
}
.icep-navbar.active_page{
	background: #031336;
	position: relative;
	height:0;
}
.navbar {
    width: 80%;
    float: right;
    padding: 0 55px 0 15px;
    position: absolute;
    top: -6px;
    right: 0;

}
.pagenav{
    position: absolute;
    bottom: 0;
    right: 0;
}
#top-menu{
	display: none;
}
#top-menu.navbar-nav>li>a {
color: #fff;
font-size: 17px;
padding: 13px 20px;
}
#page-menu > li{

    padding: 13px 20px;
}
#page-menu > li>a {
    color: #fff;
    font-size: 15px;
	padding: 15px 0;
   
}
#page-menu > li>a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    border-bottom: 3px solid #959595;
 }
  #page-menu > li>a:hover,#page-menu > li>a:focus{
  background: none;
  }
 #page-menu > li.active>a:before, #page-menu > li>a:hover:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    border-bottom: 3px solid #f59e16;
	
 }
#top-menu.nav>li>a:focus, #top-menu.nav>li>a:hover{
    text-decoration: underline;
    background: none;
}
#content{
background: #fff;
min-height: 50vh;
}
.page-title-container{
	position: relative
}
.page-title{    position: absolute;
    bottom: 0;
    left: 0;
	margin: 15px 0;
	}
.page-title h2{
	    font-size: 50px;
   // line-height: 38px;
    //font-weight: 400;
    padding: 20px 0;
	color: #fff;
	margin: 0;
}
.page-title h2:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    border-bottom: 3px solid #f59e16;
}
.page-content section{
display: inline-block;
width: 100%;
	padding: 2% 0;
}
.page-content section:last-child{
    padding: 0;
}
.page-content h1{
	font-size: 48px;
	//line-height: 38px;
	padding: 20px 0;
	margin: 0;
	position: relative;
	margin-bottom: 45px;
	text-align: center;
}
.page-content h1:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    margin: 0 auto;
    border-bottom: 3px solid #f59e16;
}
.single-featured-image-header{
	min-height: 320px;
	background: #031336;
}
.footer-menu{
	width: 33.333333333333%;
	float: left;
}
.site-footer {
	color: #fff;
	font-size: 13px;
    padding: 80px 0 0;
	font-weight: 300;
	
}
.site-footer b, .site-footer strong {
    font-weight: 500;
}

.site-footer a, .site-footer li a{
	color: #fff;
	    font-weight: 300;
}
.site-footer ul{
	list-style: none;
}
.site-footer .site-info {
    float: left;
    padding: 0.7em 0 0;
    width: 100%;
	text-align: center;
}
.site-info p{
	font-size: 11px;
}
.greybox{
	background: #f5f5f3;
	display: inline-block;
	    height: 570px;
}
.featuredimage img {
    object-fit: cover;
    height: 570px;
}
.w100{
	width: 100%;
}
.visionmission{
	padding: 15% 10%;
}
.visionmission ul, .visionmission ol {
    margin: 0 0 1.5em;
    padding: 0;
    padding-left: 20px;
}
.trophy{
padding: 12% 10%;
}
.trophy h2 {
    font-size: 50px;
    padding: 15px 0;
    margin: 0;
    position: relative;
    margin-bottom: 12px;
    text-align: left;
}
.space{
	height: 15px;
}



.tmm .tmm_1_columns .tmm_member {
	width: 100%;
	height: 375px;
	background-position-x: 32%;
	background-color: #fff !important;
}
.tmm .tmm_3_columns .tmm_member {
    width: 33.333333333%;
}
.tmm_member {
    background-repeat: no-repeat;
    height: 315px;
    background-position-x: 92%;
    position: relative;
    background-position-y: bottom;
}
.tmm .tmm_1_columns .tmm_member .tmm_textblock {
 padding: 10px 12px;
    width: 550px;
    position: absolute;
    top: 33%;
    left: 43vw;
}
.tmm  .tmm_3_columns .tmm_member .tmm_textblock {
    padding: 10px 12px;
    width: 50%;
    position: absolute;
    top: 22%;
    left: 0;
}
.tmm .tmm_textblock .tmm_names {
    font-size: 19px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: 700 !important;
    line-height: 24px;
	color: #636363 ;
}
.tmm .tmm_1_columns .tmm_textblock .tmm_names {
    font-size: 22px;
}
.tmm .tmm_job {
    font-size: 14px;
	color: #636363 !important;
    text-transform: capitalize;
}
.tmm_textblock p {
    margin: 0 0 5px;
    padding: 0;
    font-size: 18px;
    color: #636363;
    line-height: 18px;
	font-weight: 300;
}
.tmm_1_columns .tmm_textblock p {
    font-size: 22px;
    line-height: 22px;
}


.nlbox{
	display: inline-block;
	float: left;
}
.boxleft{
	width: 70%;
}

.boxright{
	width: 30%;
	padding:40px 20px;
}
.boxright h2{
	font-size: 36px;
	font-weight: bold;
	color: #636363;
	
}
.boxright h2 a{
	color: #636363;
}
.boxright h2 span{
	font-weight: 36px;
	font-weight: 300;
}
.orangeoverlay{
	background-image: url(assets/images/overlay.png); 
	position: absolute;
    height: 100%;
    width: 100%;
 -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.nlbox-container:hover .orangeoverlay{
    //height: 0%;
	opacity: 0;
}
.nlbox-container .orangeoverlay .boxright h2{
	color: #fff;
	
}
.nlbox-container:hover .orangeoverlay .boxright{
	opacity: 0
	
}
.testingload.alm-listing li {
    background: none;
    margin: 0;
	padding: 0;
    /* overflow: hidden; */
    /* position: relative; */
    list-style: none;
    /* width: 100%; */
    display: inline;
}
.testingload.alm-listing li img {
    position: relative;
    left: 0;
    top: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.testingload .alm-listing li {

    overflow: auto; 
    list-style: none;
}
.alm-btn-wrap {
padding: 50px !important;
 width: 100%;
}
button.alm-load-more-btn.viewmore{
	background: #f26522;
	border-radius: 10px;
	font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    width: auto;
    height: auto;
    line-height: 38px;
	    padding: 2px 30px;
}